---
import Main from "../layouts/main.astro";
import AboutMe from "../components/AboutMe.astro";
import PersonalValues from "../components/PersonalValues.astro";
---

<Main>
  <div class="divide-y divide-dashed divide-slate-700">
    <AboutMe />
    <PersonalValues />
  </div>
</Main>
