---
const startDate = new Date("2021-02-08");
const currentDate = new Date();
const differenceInYears = currentDate.getFullYear() - startDate.getFullYear();
---

<section class="py-8">
  <article
    class="text-sm font-light leading-loose tracking-widest text-slate-300 text-pretty"
  >
    <header
      class="mb-8 text-3xl leading-tight tracking-wide text-slate-50 max-w-70"
    >
      Developer crafting quality products.
    </header>

    <p class="indent-2">
      Hi, I'm Francisco. A <span
        class="underline decoration-wavy decoration-teal-100 text-slate-100"
        >Software Developer</span
      > born and raised on the Portuguese coast with {differenceInYears}+ years
      of experience. I enjoy looking beyond the code to understand customers'
      needs and collaborate to define effective solutions.
    </p>
    <br />

    <p class="indent-2">
      I excel at crafting mobile apps for both Android and iOS using
      <span
        class="underline decoration-wavy decoration-lime-100 text-slate-100"
        >React Native</span
      >, alongside my proficiency in building frontend features with <span
        class="underline decoration-wavy decoration-lime-100 text-slate-100"
        >React (web)</span
      >
      and enhancing backend functionalities using <span
        class="underline decoration-wavy decoration-lime-100 text-slate-100"
        >Node.js/TypeScript</span
      >.
    </p>
    <br />

    <p class="indent-2">
      I'm naturally curious and enjoy learning about different topics. When I'm
      not hanging out with my family or hacking on my computer, you'll probably
      find me at the gym, lifting weights.
    </p>
  </article>
</section>
