---
import { Github } from "lucide-astro";

const currentYear = new Date().getFullYear();
---

<footer class="my-10 text-slate-700">
  <div class="flex flex-row items-center justify-between">
    <p class="text-sm font-light leading-loose tracking-widest">
      All rights reserved © Francisco Mendes {currentYear}
    </p>
    <a
      class="z-10 h-6 w-6 flex items-center justify-center hover:text-slate-50"
      href="https://github.com/FranciscoMendes10866"
      target="_blank"
    >
      <Github class="h-4 w-4" />
    </a>
  </div>
</footer>
