<section class="space-y-8 py-8 text-pretty">
  <h3 class="text-xl leading-tight tracking-wide text-slate-50 max-w-70">
    Values I live by.
  </h3>

  <article class="space-y-7">
    <article class="space-y-3">
      <header
        class="text-base font-light leading-tight tracking-widest text-slate-50"
      >
        Open Communication and Transparency
      </header>
      <p
        class="text-sm font-light leading-loose tracking-widest text-slate-300 indent-2"
      >
        I think chatting openly and honestly builds bonds, helps us reach our
        goals, and gets things done faster. When we're all on the same page, it
        pumps up our drive and development. Sharing ideas hones our skills and
        keeps us honest.
      </p>
    </article>

    <article class="space-y-3">
      <header
        class="text-base font-light leading-tight tracking-widest text-slate-50"
      >
        Share knowledge
      </header>
      <p
        class="text-sm font-light leading-loose tracking-widest text-slate-300 indent-2"
      >
        Teaching what I know has been key to my own growth. Writing blogs pushes
        me to grasp concepts deeply, ensuring I can explain them well. It's not
        just about me; it's about helping others learn alongside me.
      </p>
    </article>
  </article>
</section>
