---
import { AstroFont } from "astro-font";
import { SEO } from "astro-seo";

import Footer from "../components/Footer.astro";

const title = "Francisco - Software Developer";
const description =
  "Francisco is a Software Developer with 3+ (three) years of experience, specializing in crafting mobile apps for Android and iOS using React Native. He values open communication, transparency, and sharing knowledge.";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title,
          type: "website",
          image: "https://fmendes.dev/images/profile.webp",
          url: "https://fmendes.dev/",
        },
      }}
      extend={{
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
        meta: [
          {
            name: "twitter:image",
            content: "https://fmendes.dev/images/profile.webp",
          },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
        ],
      }}
    />
    <AstroFont
      config={[
        {
          name: "Lexend",
          src: [
            {
              style: "normal",
              weight: "300",
              path: "./public/fonts/Lexend.ttf",
            },
          ],
          preload: false,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="bg-slate-950 text-white scroll-smooth relative">
    <div
      class="h-1 w-screen fixed top-0 left-0 bg-gradient-to-r from-teal-200 to-lime-200"
    >
    </div>
    <main class="mx-10 max-w-screen-sm z-20">
      <slot />
      <Footer />
    </main>
  </body>
</html>
